
<h1>Categoria(<%= @movie.category.title %>) / Filme(<%= @movie.title %>)</h1>
<% if @movie.active? %>
  <dl>
    <dt>Title:</dt>
    <dd><%= @movie.title %></dd>
    <dt>Description:</dt>
    <dd><%= @movie.description %></dd>
    <dt>Rent price:</dt>
    <dd><%= @movie.rent_price %></dd>
  </dl>
<% else %>
 <p>Filme temporariamente indisponível.</p>
<% end %>

<% if admin_signed_in? %>
  <% if @movie.active? %>
    <%= button_to 'Desabilitar', disable_movie_path(@movie), data: { disable_with: 'Estamos desabilitando....' } %>
  <% else %>
    <%= button_to 'Reativar', active_movie_path(@movie), data: { disable_with: 'Estamos reativando....' } %>
  <% end %>
<% end %>

<br>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary' %> |
  <%= link_to 'Delete', movie_path(@movie), method: :delete, class: 'btn btn-primary' %> 
<% end %>
<br><br>

<%= link_to 'Voltar', movies_path %>
