<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
  <%= link_to 'Movie-Storie', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Início', root_path, class: 'nav-link btn btn-primary' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Categorias', categories_path, class: 'nav-link btn btn-primary' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Filmes', movies_path, class: 'nav-link btn btn-primary' %>
      </li>
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to current_admin.email, edit_admin_registration_path,class: 'nav-link btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sair', destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-primary' %>
        </li>
      <% elsif user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.email, edit_user_registration_path,class: 'nav-link btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-primary' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-link btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Cadastrar', new_user_registration_path, class: 'nav-link btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>