<h1>#Show Category</h1>

<%= flash[:notice] %>
<dl>
  <dt>Title</dt>
  <dd><%= @category.title %></dd>
</dl>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %> |
  <%= link_to 'Delete', category_path(@category), method: :delete, class: 'btn btn-primary' %> 
<% end %>
<br><br>

<%= link_to 'Voltar', movies_path %>
